* {
  box-sizing: border-box;
}

body {
  background-color: pink;
}

div {
  border: solid red 1px;
}

header {
  width: 100%;
  background-color: yellow;
}

.main {
  margin: 1em auto;
  width: 90%;
  background-color: cyan;
  display: flex;
}

.left {
  flex: 1;
  margin: 5px;
  background-color: magenta;
  display: inline-block;
}

.right {
  flex: 4;
  height : 90vh;
  margin: 5px;
  background-color: yellow;
  display: inline-block;
}

.bigSquare {
  margin: 0 auto;
  background-color: limegreen;
  display: grid;
}

.smallSquare {

}



/* A little cheating is allowed here - seems you only need to specify one each of row and column */

.row-1 {
  grid-row: 1
}

.col-1 {
  grid-column: 1
}
