* {
  box-sizing: border-box;
  font-family: 'arial', sans-serif;
}

body {
  /* background-color: pink; */
}

div {

}

header {
  width: 100%;
  background-color: yellow;
  text-align: center;
}

.main {
  margin: 1em auto;
  width: 90%;
  /* background-color: cyan; */
  display: flex;
}

.left {
  flex: 1;
  margin: 0;
  /* background-color: magenta; */
  /* display: inline-block; */
  border: solid black 1px;
  box-shadow: 2px 2px;
  border-radius: 1em;
  padding: 0.5em;
}

.right {
  flex: 4;
  height : 90vh;
  margin: 0;
  /* background-color: yellow; */
  /* display: inline-block; */
}

.bigSquare {
  margin: 0 auto;
  /* background-color: limegreen; */
  display: grid;
}

.smallSquare {
  /* border: solid red 1px; */
}



/* A little cheating is allowed here - seems you only need to specify one each of row and column */

.row-1 {
  grid-row: 1
}

.col-1 {
  grid-column: 1
}
